<ion-content class="core">
  <app-header [profile]="profile" [active]="'timeline'"></app-header>

  <div class="noner" [hidden]="!isLoading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div class="main" *ngIf="!isLoading">
    <div class="lt">
      <app-profile-tile [profile]="profile"></app-profile-tile>

      <app-interests-block [profile]="profile" [add]="true"></app-interests-block>

      <app-community-block></app-community-block>

      <div class="ad pal" hidden [ngStyle]="{'background-image': 'url(assets/img/la.jpg)'}"></div>

      <div class="explore pal" *ngIf="false">
        <h4>Explore</h4>
        <div class="tags">
          <span>data analysis</span>
          <span>software engineering</span>
          <span>teaching</span>
          <span>gold</span>
          <span>civil engineering</span>
          <span>research analysis</span>
          <span>field research</span>
          <span>mining</span>
          <span>oil & gas research</span>
          <span>statistical review</span>
          <span>projects</span>
        </div>
      </div>
    </div>

    <div class="ml">
      <div class="vate pal">
        <div class="top">
          <ion-avatar><ion-img [hidden]="!profile?.profileImgUrl" [src]="profile?.profileImgUrl"></ion-img></ion-avatar>
          <div class="aft">
            <div class="in-wrap">
              <ion-textarea autoGrow spellcheck name="mind" [placeholder]="'Hello ' + (profile?.firstname ? (' ' + profile?.firstname) : '') + '?'" [(ngModel)]="newPost.text" rows="1"></ion-textarea>
            </div>
            <div class="im-w" [ngClass]="{'mo': tempUri.length > 1}" *ngIf="tempUri.length === 1">
              <div class="d-w" *ngFor="let img of tempUri">
                <span (click)="removeImg(img)"><ion-icon name="close-outline"></ion-icon></span>
                <ion-img [src]="img"></ion-img>
              </div>
            </div>
            <div class="im-w mo" [ngClass]="{'ko': tempUri.length === 3}" [hidden]="tempUri.length === 0" *ngIf="tempUri.length > 1">
              <div class="d-w" *ngFor="let img of tempUri" [ngStyle]="{'background-image': 'url(' + img + ')'}">
                <span (click)="removeImg(img)"><ion-icon name="close-outline"></ion-icon></span>
                <!-- <img [src]="img"> -->
              </div>
            </div>
            <div class="im-w" [hidden]="!tempVidUrl">
              <span (click)="tempVidUrl = null; postVid = null"><ion-icon name="close-outline"></ion-icon></span>
              <video controls playsinline *ngIf="tempVidUrl" #postVideo>
                <source [src]="tempVidUrl" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            <div class="bt-wo">
              <div class="outs">
                <input type="file" accept=".png, .jpg, .jpeg" #image (change)="readFile($event)" hidden>
                <input type="file" accept=".mp4" #video (change)="readVid($event)" hidden>
                <span (click)="(tempVidUrl || tempUri.length > 0) ? null : video.click()" [ngClass]="{'inact': (tempVidUrl || tempUri.length > 0)}">
                  <ion-icon name="logo-youtube" style="color: #3f82d9;"></ion-icon>
                  <small>video</small>
                </span>
                <span (click)="(tempUri.length === 4 || tempVidUrl) ? null : image.click();" [ngClass]="{'inact': (tempUri.length === 4 || tempVidUrl)}">
                  <ion-icon name="image" style="color: #e34534;"></ion-icon>
                  <small>photo</small>
                </span>
                <span (click)="addPoll()">
                  <ion-icon name="list" style="color: #ceb423;"></ion-icon>
                  <small>Polls</small>
                </span>
                <!-- <span>
                  <ion-icon name="folder"></ion-icon>
                  <small>publish</small>
                </span> -->
                <!-- <span>
                  <ion-icon name="briefcase"></ion-icon>
                  <small>job</small>
                </span> -->
              </div>
              <ion-button (click)="addPost()" [disabled]="!newPost.text?.trim() && !tempVidUrl && tempUri.length === 0">post</ion-button>
            </div>
          </div>
        </div>
        <div class="p-ov" *ngIf="posting">
          <ion-spinner name="crescent"></ion-spinner>
        </div>
      </div>
      <app-post-card [timePost]="post" [profile]="profile" *ngFor="let post of timePosts" (deleted)="deletePost(post.id)"></app-post-card>
    </div>

    <div class="rt">
      <app-event-block></app-event-block>
      <app-suggestion-widget [profile]="profile"></app-suggestion-widget>

      <ion-button class="ptw" hidden (click)="makePost()">make post</ion-button>
<!--
      <div class="footer" hidden>
        <a [routerLink]="['/timeline']">Home</a>
        <a href="https://stein.com.gh/about">About</a>
        <a [routerLink]="['/messages']">Messages</a>
        <a [routerLink]="['/archives']">Research</a>
        <a [routerLink]="['/archives-publications']">Publications</a>
        <a href="https://stein.com.gh/">Info Portal</a>
        <div class="f-bur">
          <ion-img src="assets/icon/logo.png"></ion-img>
          <small>@Copyright {{year}} — Powered by <b><a href="https://heritorslabs.com" target="_blank">HL</a></b></small>
        </div>
      </div> -->
    </div>
  </div>

  <app-tabs [active]="'timeline'"></app-tabs>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="makePost()">
    <ion-icon name="pencil-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
