
<div class="heady">
  <ion-icon name="close" (click)="close()"></ion-icon>
  <h4>education history</h4>
</div>
<ion-content class="padded">
  <div class="mod-wrap">

    <div class="wrap">
      <div class="in-wrap">
        <p>school  <i>👋 Reqiured</i></p>
        <ion-input type="text" name="school" [(ngModel)]="educationInfo.school"></ion-input>
      </div>
      <div class="in-wrap">
        <p>degree</p>
        <ion-input type="text" name="degree" [(ngModel)]="educationInfo.degree"></ion-input>
      </div>
      <div class="in-wrap">
        <p>field of study</p>
        <ion-input type="text" name="offered" [(ngModel)]="educationInfo.offered"></ion-input>
      </div>
      <div class="in-wrap">
        <div class="spanner">
          <ion-icon name="square-outline" [hidden]="educationInfo.current" (click)="educationInfo.current = true"></ion-icon>
          <ion-icon name="checkbox" [hidden]="!educationInfo.current" (click)="educationInfo.current = false"></ion-icon>
          <p>I am currently studying here</p>
        </div>
      </div>
      <div class="in-wrap" id="open-date-input">
        <p>start date</p>
        <ion-input type="text" name="start" [value]="educationInfo.startDate | date:'MMM YYYY'" readonly></ion-input>
        <ion-popover trigger="open-date-input" show-backdrop="false">
          <ng-template>
            <ion-datetime
              #popoverDatetime
              presentation="month-year"
              (ionChange)="educationInfo.startDate = popoverDatetime.value"
              done-text="done"
              [showDefaultButtons]="true"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
      </div>
      <div class="in-wrap" id="open-date-input-2">
        <p>end date</p>
        <ion-input type="text" name="end" [value]="educationInfo.endDate | date:'MMM YYYY'" readonly></ion-input>
        <ion-popover trigger="open-date-input-2" show-backdrop="false">
          <ng-template>
            <ion-datetime
              #popoverDatetime2
              presentation="month-year"
              (ionChange)="educationInfo.endDate = popoverDatetime2.value"
              [showDefaultButtons]="true"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
      </div>

    </div>

    <div class="foot">
      <ion-button fill="clear" (click)="deleteEducation()" *ngIf="edIndex >= 0">remove education</ion-button>
      <ion-button class="sv" (click)="updateProfile(false)">save</ion-button>
    </div>
  </div>

</ion-content>
