$primary: #0C7C3F;
$secondary: #A01C4E;
$tetiary: #bbbbbb;
$accent: #E5D326;


.pers {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 20px;

  ion-avatar {
    width: 40px;
    height: 40px;
    background-color: #eeeeee;
    margin-right: 10px;
    cursor: pointer;
  }

  p {
    font-size: 14px;
    font-weight: 500;
  }

  small {
    font-size: 12px;
    color: #00000060;
  }

  span {
    display: flex;
    align-items: center;
    margin: auto 0 auto auto;
    // border: solid 1px $primary;
    background-color: #00000008;
    color: var(--ion-color-primary);
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;

    small {
      color:  var(--ion-color-primary);
    }

    ion-icon {
      font-size: 12px;
    }

    &.un {
      background: var(--ion-color-primary);
      color: #ffffff;

      small {
        color: #ffffff;
      }
    }
  }
}

.txt {
  width: calc(100% - 140px);

  p, small {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
