$primary: #0C7C3F;
$secondary: #A01C4E;
$tetiary: #bbbbbb;
$accent: #E5D326;

app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  margin-top: 120px;
}

.lt {
  width: 350px;
  position: fixed;
  top: 0;
  // right: 10%;
  bottom: 0;
  padding-top: 120px;
  overflow: scroll;
}

.pro {
  display: flex;
  height: 250px;
}

.p-wrap {
  margin: auto;
  text-transform: capitalize;
  text-align: center;

  ion-avatar {
    background-color: #d9ebe4;
    margin: auto;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    cursor: pointer;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  small {
    font-size: 15px;
    color: #00000060;
  }
}

.links {
  padding: 10px;
}

span.but {
  padding: 20px;
  text-transform: capitalize;
  display: block;
  cursor: pointer;

  small {
    font-weight: 500;
    font-size: 13px;
  }
}

span.but:hover {
  background-color: #eeeeee;
  color: $primary;
}

.explore {
  padding: 30px;

  h4 {
    font-size: 18px;
  }
}

.tags {
  margin-top: 30px;

  span {
    display: inline-block;
    padding: 3px 15px;
    border-radius: 20px;
    border: solid 1px transparentize($color: $primary, $amount: .5);
    color: $primary;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
    cursor: pointer;
  }
}

.ml {
  width: calc(100% - 740px);
  margin: auto;
}

.vate {
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.p-ov {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff60;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.top {
  display: flex;
  // align-items: center;
  justify-content: space-between;
}

.aft {
  width: calc(100% - 80px);
}

.in-wrap {
  border: solid 1px transparentize($color: $tetiary, $amount: .5);
  border-radius: 50px;
  width: 100%;
  padding: 5px 20px;
  margin-bottom: 30px;

  ion-input {
    font-size: 14px;
    font-weight: 500;
  }
}

.im-w {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;

  ion-img {
    width: 100%;
  }

  video {
    width: 100%;
    border-radius: 10px;
  }

  span {
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #00000090;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 2;

    ion-icon {
      color: #ffffff;
      font-size: 20px;
      margin: auto;
    }
  }
}

.im-w.mo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 280px;

  .d-w {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }
}

.im-w.mo.ko {
  .d-w:first-child {
    grid-area: 1 / 1 / span 2 / span 1;
  }
}

.bt-wo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ion-button {
    --border-radius: 20px;
    text-transform: capitalize;
    font-size: 15px;
  }
}

.outs {
  display: flex;
  justify-content: space-between;

  span {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
  }

  ion-icon {
    margin-right: 7px;
    font-size: 17px;
  }

  small {
    font-size: 13px;
    color: #00000060;
    text-transform: capitalize;
  }

  span.inact {
    color: #00000050;
  }
}

app-post-card {
  display: block;
}

.rt {
  width: 350px;
  position: fixed;
  top: 0;
  right: 10%;
  bottom: 0;
  padding-top: 120px;
  overflow: scroll;
}

.sug {
  padding: 30px;

  h4 {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

.pers {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 20px;

  ion-avatar {
    width: 50px;
    height: 50px;
    background-color: #eeeeee;
    margin-right: 10px;
  }

  p {
    font-size: 15px;
    font-weight: 500;
  }

  small {
    font-size: 12px;
    color: #00000060;
  }

  span {
    display: flex;
    align-items: center;
    margin: auto 0 auto auto;
    border: solid 1px $primary;
    color: $primary;
    padding: 2px 7px;
    border-radius: 20px;
    cursor: pointer;

    small {
      color: $primary;
    }

    ion-icon {
      font-size: 12px;
    }
  }
}

.more {
  display: flex;
  align-items: center;
  margin-top: 40px;
  cursor: pointer;

  small {
    font-size: 14px;
    font-weight: 500;
  }

  ion-icon {
    font-size: 18px;
    margin-left: 10px;
  }
}

.ad {
  height: 300px;
  background-color: #a1a1a1;
  background-size: cover;
  background-position: center;
  opacity: .5;
}

.res {
  overflow: hidden;
}

.r-img {
  height: 300px;
  background-position: center;
  background-size: cover;
}

.res-i {
  padding: 20px;

  h4 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  p {
    font-size: 15px;
    color: #00000080;
  }
}

span.dte {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: $primary;
  margin-bottom: 20px;

  ion-icon {
    margin-right: 5px;
    font-size: 15px;
  }
}

ion-button.dwn {
  margin: 0;
  margin-bottom: 10px;
  --border-radius: 10px;
  height: 50px;
}


.team {
  // margin-top: 30px;
  padding: 20px;

  h4 {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

.te-w {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  text-align: center;
  text-transform: capitalize;

  ion-avatar {
    margin: auto;
    margin-bottom: 10px;
  }

  small {
    opacity: .5;
  }
}

.footer {
  text-align: center;
  margin-top: 30px;
  a {
    display: inline-block;
    text-decoration: none;
    color: #00000060;
    margin: 5px 20px;
    text-align: center;
    font-size: 13px;
  }
}

.f-bur {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  ion-img {
    height: 25px;
    margin-right: 10px;
  }

  small {
    font-size: 13px;

    a {
      color: #000000;
      display: unset;
      margin: unset;
    }
  }
}

ion-button.ptw {
  height: 50px;
  margin: 0;
  margin-bottom: 10px;
  --border-radius: 10px;
  text-transform: capitalize;
}

@media only screen and (max-width: 1470px) {
  .rt {
    display: none;
  }

  .ml {
    width: calc(100% - 370px);
    margin: auto;
    margin-right: 0;
  }

  ion-fab {
    display: unset;
  }
}

@media only screen and (max-width: 1000px) {
  .lt {
    display: none;
  }

  .ml {
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .main {
    padding: 0;
    margin-top: 90px;
  }

  ion-fab {
    bottom: 30px;
    right: 30px;
  }

  ion-button.dwn {
    --border-radius: 0;
  }
}
