<ion-content [fullscreen]="true">
  <ion-img class="slide" src="assets/img/path-3.png"></ion-img>
  <!-- <ion-img class="slide" src="assets/img/path-2.png"></ion-img> -->
  <div class="head pad">
    <div class="logo">
      <!-- <ion-img src="assets/img/stirs-logo.png"></ion-img> -->
      <ion-img src="assets/img/stirs-logo-g.png"></ion-img>
    </div>
    <div class="links">
      <span>
        <ion-img src="assets/img/rbench-c.png"></ion-img>
        <small>rBench</small>
        <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
      </span>
      <span><small>Jobs</small></span>
      <span class="op"><small>Login</small></span>
      <ion-button class="li">Get Invited</ion-button>
    </div>
  </div>
  <div class="cover pad">
    <div class="c-txt">
      <h4>Connect, Collaborate, Co-create</h4>
      <small>The StirHub is social and engagement platform for Science, Technology, Innovation and Research professionals and enthusiasts. Don't miss out!</small>
      <div class="c-buts">
        <ion-button>request an invite</ion-button>
        <ion-button fill="clear">login</ion-button>
      </div>
      <div class="partners">
        <a href="" target="_blank"><ion-img src="assets/img/UKaid-logo.png"></ion-img></a>
        <a href="" target="_blank"><ion-img src="assets/img/risa-fund.webp"></ion-img></a>
        <a href="" target="_blank"><ion-img src="assets/img/logo-heritors-labs.png"></ion-img></a>
      </div>
    </div>
    <div class="sticks">
      <div class="man" style="background-image: url('assets/img/science.jpeg');"></div>
      <div class="man" style="background-image: url('assets/img/vr.jpg');"></div>
      <div class="man" style="background-image: url('assets/img/robots.jpg');"></div>
      <div class="man" style="background-image: url('assets/img/agric.jpg');"></div>
    </div>
    <ion-img class="gid" src="assets/img/gid.png"></ion-img>
    <div class="c-imgs" hidden>
      <ion-img src="assets/img/path.png"></ion-img>
    </div>
  </div>



</ion-content>
